<!-- skills -->
<section class="row box_vh_100 ">
    <!-- left about-->
    <section id="about" class="col-sm-6 col-md-4 col-lg-6 box_vh_86 justify-content-center align-self-center ">
        <!-- img-->
        <div class="row d-block px-5 py-4">
            <h2 class="h1 headline_row">about</h2>
        </div>
        <div class="row d-flex justify-content-center align-self-center">
            <figure class=" h-50 ">
                <img src=" img/ab_freiform.png" alt="Portrait Agnes Breiter">
                <figcaption class="p-3 d-flex justify-content-center align-self-center">Hi there, I'm Agnes</figcaption>
            </figure>
        </div>

    </section>

    <!-- right about-->
    <section id="skills" class="col-lg-6 col-md-8 col-sm-6  d-flex justify-content-center align-self-center">
        <!-- right balken-->

        <div class="col-10 ">
            <h2 class="h1 headline_row">skills</h2>

            <div><span class="pt-3 d-block">HTML</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 15%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div><span class="pt-3 d-block">CSS</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 15%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div><span class="pt-3 d-block">JavaScript</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 4%"
                        aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


            <div><span class="pt-3 d-block">Adobe Design Suite</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 90%"
                        aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <span class="pt-3 d-block">KeyShot // Cinema4D</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 35%"
                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div><span class="pt-3 d-block">After Effects // Premiere</span>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
        <div class="col">

        </div>

    </section>