<footer id="contact" class="row bg-black text-light text-center">
    <section class="col-12 pt-5 pb-0 flex-column footer-typo">

        <section class="wrapper-social-footer">
            <div class="social-icon-footer"><a href="https://join.skype.com/invite/beIwTsDqpOL1" class="icon">
                    <i class="fab fa-skype"></i></i>&nbsp;&nbsp;
                </a></div>
            <div class="social-icon-footer"><a href="https://codepen.io/AgnesBreiter/" class="icon"><i class="fab fa-codepen"></i>&nbsp;&nbsp;</a></div>
            <div class="social-icon-footer"><a href="https://github.com/agnesbr" class="icon"><i class="fab fa-github"></i></a></div>
        </section>



        <address class="d-block ">
            agnes breiter // vierbergen 14 // 22111 hamburg // <a class="footer text-light" href="#">infos(at)agnesbreiter
            </a>
        </address>
        <section class="pb-5">
            &copy agnes breiter // <a class="footer text-light" href="imprint.html">impressum // </a>
            <a class="text-light" href="#">datenschutz</a></section>
    </section>
</footer>