<footer>
    <footer id="contact" class="row  bg-black text-light text-center">
        <!--<section class="col py-4 text-light d-flex justify-content-center">
            <p class="h1">
                <a href="#" class="icon"><i class="fab fa-facebook-messenger"></i>&nbsp;&nbsp;</a>
                <a href="#" class="icon"><i class="fab fa-codepen"></i>&nbsp;&nbsp;</a>
                <a href="#" class="icon"><i class="fab fa-github"></i></a>
            </p>
        </section>-->
        <section class="col-12 pt-5 pb-0 flex-column">
            <address class="d-block ">
                agnes breiter // vierbergen 14 // 22111 hamburg // <a class="text-light" href="#">infos(at)agnesbreiter
                </a>
            </address>
            <section class="pb-5">
                &copy agnes breiter // <a class="text-light" href="imprint.html">impressum // </a>
                <a class="text-light" href="#">datenschutz</a></section>
        </section>
    </footer>
</footer>