<footer>
    <footer id="contact" class="row bg-black">
        <section class="col py-4 text-light d-flex justify-content-center">
            <p class="h1">
                <a href="#" class="icon"><i class="fab fa-facebook-messenger"></i>&nbsp;&nbsp;</a>
                <a href="#" class="icon"><i class="fab fa-codepen"></i>&nbsp;&nbsp;</a>
                <a href="#" class="icon"><i class="fab fa-github"></i></a>
            </p>
        </section>
        <section class="col-12  d-flex justify-content-center">
            <address class="text-light small">
                agnes breiter // vierbergen 14 // 22111 hamburg // <a class="text-light" href="#">infos(at)agnesbreiter
                </a>
            </address>
        </section>
        <section class="col text-light small ">
            <div class="pb-4 d-flex justify-content-center">
                <div>&copy agnes breiter // </div>
                <div><a class="text-light" href="imprint.html">impressum // </a></div>
                <div class=""><a class="text-light" href="#">datenschutz</a></div>

            </div>
        </section>
    </footer>
</footer>