<header class="header">
    <header>
        <div class="container-fluid">

            <div class="row">
                <span class="col-12 intro_zeile">
                    <h1 class="index">
                        agnes breiter // <br class="visible-xs"> communication design // <br class="visible-s">web
                        development
                    </h1>
                </span>
            </div>

            <section class="row">
                <div class="col-12 bg_img_fixed intro box_vh_86 d-flex justify-content-center align-items-center">
                    <div class="box_transparent col-xl-5 col-lg-6 col-md-6 col-sm-7 col-8  d-flex justify-content-center align-items-center">
                        <h2 class="text-black headline_header"><b>moin, moin</b></h2>
                        <section class="wrapper-social-fixed">
                            <div class="social-icon-top"><a href="https://join.skype.com/invite/beIwTsDqpOL1" class="icon">
                                    <i class="fab fa-skype"></i></i>&nbsp;&nbsp;
                                </a></div>
                            <div class="social-icon-top"><a href="https://codepen.io/AgnesBreiter/" class="icon"><i
                                        class="fab fa-codepen"></i>&nbsp;&nbsp;</a></div>
                            <div class="social-icon-top"><a href="https://github.com/agnesbr" class="icon"><i class="fab fa-github"></i></a></div>
                        </section>
                        <div id="triangle-topleft"></div>
                    </div>
                </div>
            </section>
    </header>