<section id="im" class="row m-0 p-5 box_iam col-lg-12 bg-black ">
    <section class="row col-lg-12 display-flex justify-content-center">
        <h2 class="pb-3 h1 txt-white headline_row">I am</h2>
    </section>
    <section class="col pt-3 px-5 pb-1 mb-5 h4 d-flex flex-wrap justify-content-center align-self-center">
        <div class="badge badge-light m-1">a communication designer</div>
        <div class="badge badge-light m-1">an allrounder</div>
        <div class="badge badge-light m-1">a teamplayer</div>
        <div class="badge badge-light m-1">a series junkie</div>
        <div class="badge badge-light m-1">a horror and psycho fan</div>
        <div class="badge badge-light m-1">crazy about asian food and spanish tapas</div>
        <div class="badge badge-light m-1">a huge animal lover</div>
        <div class="badge badge-light m-1">married</div>
        <div class="badge badge-light m-1">a passionate traveller</div>
        <div class="badge badge-light m-1">addicted to sports & music</div>
        <div class="badge badge-light m-1">hopefully going to be a good junior web developer soon :) …</div>
    </section>
</section>