<!-- wunsch -->

<section id="love" class="row bg_img_fixed pat box_vh_100 p-5">
    <!-- p -->
    <div class="col box_transparent_30 justify-content-center align-self-center">


        <q class="col-lg-4 txt-black">Since I was a little girl I used to have dogs around.<br>
            One of my biggest dreams is to have one in Hamburg.</q>
    </div>

    <!-- mitte -->
    <div class="col-4">

    </div>



    <!-- headline -->
    <div class="col-4 justify-content-center align-self-center">
        <h2 class="headline_row txt-black">I <i class="far fa-heart"></i> dogs and would love to have one.
        </h2>
    </div>

</section>