<!-- pet -->
<section id="love" class="row bg_img_fixed pat box_vh_100 p-5">
    <div class="col box_transparent_30 justify-content-center align-self-center">
        <p class="text-light">Since I was a little girl I used to have dogs around.<br>
            One of my biggest dreams is to have one in Hamburg.</p>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4 justify-content-center align-self-center">
        <h2 class="headline_row text-light">dogs – would like to have one
        </h2>
    </div>
</section>