<div class="row">
    <nav class="nav_container">
        <span class="nav_item"><a href="#about">about</a></span>
        <span class="nav_item"><a href="#skills" ">skills</a></span>
        <span class=" nav_item"><a href="#im">I am</a></span>
        <span class="nav_item"><a href="#passion">passion</a></span>
        <span class="nav_item"><a href="#references">referenzes</a></span>
        <span class="nav_item"><a href="#love">love</a></span>
        <span class="nav_item"><a href="#contact">contact</a></span>
    </nav>
</div>