<section id="passion" class="row bg_img_fixed sport box_vh_100 p-5">
    <div class="col-sm-12 col-md-4 justify-content-center align-self-center">
        <h2 class="headline_row text-light">passion for step & dance aerobics</h2>
    </div>

    <div class="col-sm-12 col-md-4 offset-md-4 box_transparent_30 justify-content-center align-self-center">
        <p class="text-light box-text">In my free time I like to do step and dance aerobics.
            Good music and a nice choreography help me to get my head free and give me power for new
            challenges.</p>
    </div>
</section>