<!-- passion -->
<section id="passion" class="row  bg_img_fixed sport box_vh_100 p-5">
    <!-- headline -->
    <div class="col-4 justify-content-center align-self-center">
        <h2 class="headline_row txt-black">passion for step & dance aerobics</h2>
    </div>
    <!-- mitte -->
    <div class="col-4">

    </div>

    <!-- p -->
    <div class="col box_transparent_30 justify-content-center align-self-center">

        <q class="col-lg-4 txt-black">In my free time I love to do step and dance aerobics.
            Good music and a nice choreography help me to get my head free and give me power for new
            challenges.</q>

    </div>

</section>