/* head intro */
.intro_zeile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h1.index {
  font-size: 1rem;
  line-height: 1.4rem;
}

br.visible-xs,
br.visible-s {
  display: none;
}

h2 {
  font-size: 3rem;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 80px solid rgba(255, 255, 255, 0.9);
  border-right: 80px solid transparent;
  position: absolute;
  bottom: -80px;
}

/* social media fixed top right */
.wrapper-social-fixed {
  position: fixed;
  right: 0;
  top: 15rem;
  z-index: 99999;
}

.social-icon-top {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  background-color: black;
  margin: 0.8rem 0;
  text-align: center;
  font-size: 3.1rem;
  padding-left: 0.4rem;
  border-left: 0.3rem solid white;
}

/* --------------------------------------------------- */

@media (max-width: 768px) {
  h2,
  b {
    display: block;
    min-height: 6rem;
    font-size: 5rem;
    line-height: 4.7rem;
  }

  .intro_zeile {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  br.visible-s {
    display: block;
  }
  .wrapper-social-fixed {
    position: fixed;
    right: 0;
    top: 17rem;
    z-index: 99999;
  }

  .social-icon-top {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: black;
    margin: 0.8rem 0;
    text-align: center;
    font-size: 2.8rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid white;
  }
}

/* --------------------------------------------------- */

@media (max-width: 576px) {
  h2,
  b {
    display: block;
    min-height: 4.3rem;
    font-size: 4.6rem;
    line-height: 4.3rem;
  }
  .intro_zeile {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  h1.index {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  br.visible-s {
    display: block;
  }

  .wrapper-social-fixed {
    top: 18.5rem;
    z-index: 99999;
  }
  .social-icon-top {
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    background-color: black;
    margin: 0.8rem 0;
    text-align: center;
    font-size: 2.5rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid white;
  }
}

/* --------------------------------------------------- */

@media (max-width: 420px) {
  h2,
  b {
    display: block;
    min-height: 4rem;
    font-size: 3.5rem;
    line-height: 3.3rem;
  }

  br.visible-xs,
  br.visible-s {
    display: block;
  }

  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 50px solid rgba(255, 255, 255, 0.9);
    border-right: 50px solid transparent;
    position: absolute;
    bottom: -50px;
  }

  .wrapper-social-fixed {
    top: 19rem;
    z-index: 99999;
  }
  .social-icon-top {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    margin: 0.8rem 0;
    text-align: center;
    font-size: 2.2rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid white;
  }
}

/* --------------------------------------------------- */

@media (max-width: 320px) {
  h2,
  b {
    display: block;
    min-height: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  br.visible-xs,
  br.visible-s {
    display: block;
  }
  .wrapper-social-fixed {
    position: fixed;
    right: 0;
    top: 21rem;
    z-index: 99999;
  }
  .social-icon-top {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background-color: black;
    margin: 0.8rem 0;
    text-align: center;
    font-size: 2.2rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid white;
  }
}
