@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Nixie One", cursive;
  color: black;
  letter-spacing: 0.1em;
}

/* fonts */

.Nixie_One {
  font-family: "Nixie One", cursive;
  letter-spacing: 0.1em;
}

/* head intrro */
.intro_zeile {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h1.index {
  font-size: 1em;
}

/* vh hights */

.box_vh_100 {
  min-height: 100vh;
}

.box_vh_90 {
  min-height: 90vh;
}

.box_vh_86 {
  min-height: 86vh;
}

/* colors */

.bg-black {
  background-color: black;
  display: block;
}
.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

/* bg images fixed */

.bg_img_fixed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/*
.intro {
  background-image: url("https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=452c9055d0f7d7db744fb505f6d7fd68&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
}*/

/*
.intro {
  background-image: url("https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4a958f345cf53a6fd0778a81ab68005&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
}*/

.intro {
  background-image: url("https://images.unsplash.com/photo-1521249664898-864e6c1b6d5c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7111c5ca32f0551dc6966eeeb08d01c&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
}

/*
.pat {
  background-image: url("https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-0.3.5&s=98bb3e4a0d0beb27d19c8ba645c7421e&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
  background-position: center;
}*/

.pat {
  background-image: url("https://images.unsplash.com/photo-1520638889638-ef2b9ad8c393?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d01130a1e1ccfc42da6c9a8e4ec83c6&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
  background-position: center;
}

.sport {
  background-image: url("https://images.unsplash.com/photo-1532471965572-092fb677a6a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f19e17263e2cb9cdb2de42ef40a35933&auto=format&fit=crop&w=2734&q=80");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.box_transparent {
  background-color: rgba(255, 255, 255, 0.9);
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 80px solid rgba(255, 255, 255, 0.9);
  border-right: 80px solid transparent;
  position: absolute;
  bottom: -80px;
}

/* social media fixed top right */
.wrapper-social-fixed {
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 99999;
}

.social-icon-top {
  display: block;
  width: 70px;
  height: 70px;
  background-color: black;
  margin: 0.2em 0;
  text-align: center;
  font-size: 3em;
  padding-left: 3px;
  border-left: 3px solid white;
}

/* anchor fixed - back to top */
.arrow-up {
  position: fixed;
  left: 50%;
  bottom: 10px;
  z-index: 99999;
  width: 43px;
  height: 43px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: black;
}
.arrow-up:hover {
  color: salmon;
}

.arrow-visible {
  visibility: visible;
}

/* nav --*/

.nav_container {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  /* flex-wrap: wrap;*/
}

.nav_item {
  color: white;
  text-align: center;
  font-size: 1.1em;
  margin: 0.3em;
  padding: 0.3em;
}

.nav_container > div {
  background-color: black;
  flex-basis: 7em;
}

/* box styles */

.shift {
  transform: translate(0, -50px);
}

.headline_header {
  font-family: "Nixie One", cursive;
  letter-spacing: 0.1em;
  font-size: 7em;
  line-height: 90%;
  text-align: left;
  padding: 0.5em 1em 0.5em 1.2em;
}

.headline_row {
  font-family: "Nixie One", cursive;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-size: 4em;
  hyphens: manual;
  /* margin-top: 0.7em;*/
}

.headline_row_no_m {
  font-family: "Nixie One", cursive;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-size: 4em;
  hyphens: manual;
  padding-left: 5rem;
}

.box_referenzes_m {
  padding-top: 1em;
}

.box_iam {
  display: flex;
  height: 45vh;
  width: 100vw;
}

.box_iam > h2 {
  color: black;
}

.box_transparent_30 {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1.2em;
}

.underline {
  text-decoration: underline;
}

a,
a.icon,
a:active {
  color: white;
  text-decoration: none;
}
.arrow-up > a.icon {
  color: black;
}

a:hover,
.arrow-up > a:hover {
  color: salmon;
  text-decoration: none;
}

/* references */
.overflow_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1.5rem;
  padding-rigt: 1.5rem;
}

.content_referenzen {
  width: 200%;
}

.box_referenz {
  padding: 0.6em;
}

@import "header";
